/* Dependencies */

@import "grid-settings";

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';

/* Global Styles */

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/* Organization/Containers */

.main-container {
  @include outer-container;
  padding: 5px;
}

.columns {    
  @include span-columns(6);
}

.row {
  @include row;
}

/* Login and Signup Pages */
.page-title {
  @include row();
  h1 {
    text-align: center;
    font-size: 2.3em;
  }
}

.form {
  @include shift(2);
  @include span-columns(8);

  text-align: center;
}

/* Guidebook Component */
.area-nav, .dynamic-display {
  @include span-columns(12);
}

.area-nav {
  margin-top: 5px;

  .md-list {
    .align-center {
      text-align: center;
    }      
  }
}

.guide-container {
  padding: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .area-nav {
    @include span-columns(4);
    margin-top: 15px;
  }

  .dynamic-display {
    @include span-columns(8);
  }

  .area-card {
    @include span-columns(10);
    @include shift(1);
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
