@import "grid-settings";

@import '~bourbon/app/assets/stylesheets/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main-container {
  @include outer-container;
}

.columns {    
  @include span-columns(6);
}

.page-title {
  @include row();
  h1 {
    text-align: center;
    font-size: 2.3em;
  }
}

.form {
  @include shift(2);
  @include span-columns(8);

  text-align: center;
}